.indexpage{
	color:red;
	background: blue;
	font-size: 25px;
}
.list li{
	padding:10px;
	font-size: 20px;
	border-bottom: 1px solid red;
}

$color: red;

.linklists li{
	border-bottom: 1px solid yellow;
	padding: 10px;
	display: flex;
	transform: translate(100px);
	a{
		color: $color;
	}
}

img{
	max-width: 100%;
}

/*swipe*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.bgImg{
	width:100px;
	height: 100px;
	background-image: url(../images/share.png);
	background-size: cover;
}

.bg_box{
	width: 100px;
	height: 100px;
	background: url(../images/01.jpg) no-repeat;
	background-size: cover;
}
