<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>首页-demo</title>
</head>
<body>
	<div id='slider' class='swipe'>
	  <div class='swipe-wrap'>
	    <div>
	    	<a href="">
	    		<img src="http://img.boqiicdn.com/Data/Shop/0/0/0/shoppicpath1447412417.jpg" alt="">
	    	</a>
	    </div>
	    <div>
	    	<a href="">
	    		<img src="http://img.boqiicdn.com/Data/U/CONFIGURATION/5.62756734133E+15/5.62756734133E+17/562756734133e8fd2b61eb39/configuration39405627567439377.jpg" alt="">
	    	</a>
	    </div>
	    <div>
	    	<a href="">
	    		<img src="http://7xo7kf.com2.z0.glb.qiniucdn.com/88b6626cc6769acad216df9483f50450.jpg?imageView2/2/w/1280/h/400/format/jpg/interlace/1/q/75" alt="">
	    	</a>
	    </div>
	  </div>
	</div>
	<h1 class="indexpage">这是首页--age!!!</h1>

	<div id="userlist"></div>

	<div id="linklists">

	</div>

	<!--开发环境script文件一定要提前写好, 生产环境则 自动注入处理的script-->
	<script data-debug src="/__build/vendors.bundle.js"></script>
	<script data-debug src="/__build/index.bundle.js"></script>
</body>
</html>
