<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1 class="indexpage">这是首页--age!!!</h1>
	<h1>haha:{{username}}</h1>
	<ul class="list">
		<li>第11行</li>
		<li>第2行</li>
		<li>第3行</li>
		<li>第4行</li>
	</ul>

	<input type="text" id="name">

	<button class="btn">点击</button>
	<!--开发环境script文件一定要提前写好, 生产环境则 自动注入处理的script-->
	<script data-debug src="/__build/vendors.bundle.js"></script>
	<script data-debug src="/__build/index.bundle.js"></script>
</body>
</html>
