<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>首页-demo</title>
</head>
<body>
	<div class="bgImg"></div>
	<div id='slider' class='swipe'>
	  <div class='swipe-wrap'>
	    <div>
	    	<a href="">
	    		<img src="../images/01.jpg" alt="">
	    	</a>
	    </div>
	    <div>
	    	<a href="">
	    		<img src="../images/02.jpg" alt="">
	    	</a>
	    </div>
	    <div>
	    	<a href="">
	    		<img src="../images/03.jpg" alt="">
	    	</a>
	    </div>
	  </div>
	</div>
	<h1 class="indexpage">这是首页!!!--age!!!</h1>

	<div id="userlist"></div>

	<div id="linklists">

	</div>

	<!--开发环境script文件一定要提前写好, 生产环境则 自动注入处理的script-->
	<script data-debug src="/__build/vendors.bundle.js"></script>
	<script data-debug src="/__build/index.bundle.js"></script>
</body>
</html>
